.lessons-status {
	margin-top: 6px;
	margin-right: 4px;
	margin-bottom: 6px;
	font-size: 16px;
	cursor: pointer;
	font-family: Open Sans Condensed;
}

.lessons-jumbotron {
	position: relative;
	top: 70px;
	text-align: left;
	padding-left: 20px;
}

.lessons-grid-container {
	position: relative;
	top: 52px;
	min-height: calc(100vh - 52px);
	background: url(https://isle.heinz.cmu.edu/white_carbonfiber_1543854970404.png);
}

.enrolled-lesson-progress {
	width: 58%;
	height: 16px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 3%;
}

.enrolled-lesson-time {
	text-align: center;
	width: 36%;
	height: 20px;
	margin-top: 7px;
	font-family: Open Sans Condensed;
	font-weight: 600;
	font-variant: small-caps;
	font-size: 14px;
	color: gainsboro;
}

.lessons-upload {
	margin-top: 5px;
}

.lessons-uploaded {
	margin-left: 5px;
	margin-top: 8px;
	color: gainsboro;
	font-family: Open Sans Condensed;
	font-size: 14px;
	stroke: #b52808;
	font-weight: 600;
}

.lessons-uploaded-image {
	margin-top: -4px;
	margin-left: 6px;
	width: 16px;
	height: 16px;
	stroke: #b52808;
	fill: white;
}

.react-grid-item {
	animation: none;
	transform: none;
}


.animated-lesson-card {
	animation: flip-in-hor-bottom 0.6s;
}
