.lesson-button-toolbar {
	position: absolute;
	top: 180px;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
}

.lesson-title-button {
	cursor: pointer;
}

.lesson-title-button:hover {
	color: rgb(250, 189, 189);
}
