.lessons-status {
	margin-top: 6px;
	margin-right: 4px;
	margin-bottom: 6px;
	font-size: 15px;
	cursor: pointer;
	font-family: Open Sans Condensed;
}

.lessons-jumbotron {
	position: relative;
	top: 70px;
	text-align: left;
	padding-left: 20px;
}

.lessons-grid-container {
	position: relative;
	top: 52px;
	height: calc(100vh - 76px);
	overflow-y: scroll;
	background: url(./../../../public/img/white_carbonfiber.png);
}

@media screen and (max-width: 800px) {
	.lessons-grid-container {
		top: 94px;
		height: calc(100vh - 118px);
	}
}

.enrolled-lesson-progress {
	width: 58%;
	height: 16px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 3%;
}

.enrolled-lesson-time {
	text-align: center;
	width: 36%;
	height: 20px;
	margin-top: 7px;
	font-family: Open Sans Condensed;
	font-weight: 600;
	font-variant: small-caps;
	font-size: 14px;
	color: gainsboro;
}

.lessons-upload {
	margin-top: 5px;
}

.lessons-uploaded {
	margin-left: 3px;
	margin-top: 8px;
	color: gainsboro;
	font-family: Open Sans Condensed;
	font-size: 14px;
	stroke: #b52808;
	font-weight: 600;
}

.lessons-uploaded-image {
	margin-top: -4px;
	margin-left: 6px;
	width: 16px;
	height: 16px;
	stroke: #b52808;
	fill: white;
}

.react-grid-item {
	animation: none;
	transform: none;
}

.animated-lesson-card {
	animation: flip-in-hor-bottom 0.6s;
}

.lesson-grid-item {
	box-shadow: 0 0 2px 2px darkslategray;
}

.lesson-grid-item:focus {
	outline: none;
	box-shadow: 0 0 0 6px rgba(238, 18, 18, 0.8);
}

.lesson-link-icon {
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 1000;
	cursor: pointer;
	color: darkgray;
}

.lesson-link-icon:hover {
	color: white;
}
