{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "add-module-exports",
        "transform-react-jsx"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "css-modules-transform"
            ]
        }
    }
}