{
  "extends": "stylelint-config-standard",
  "rules": {
    "alpha-value-notation": null,
    "at-rule-no-vendor-prefix": null,
    "block-no-empty": true,
    "color-function-notation": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "declaration-block-no-redundant-longhand-properties": null,
    "font-family-no-missing-generic-family-keyword": null,
    "keyframes-name-pattern": null,
    "length-zero-no-unit": null,
    "no-descending-specificity": null,
    "property-no-vendor-prefix": null,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ],
    "selector-class-pattern": null,
    "shorthand-property-no-redundant-values": null,
    "value-keyword-case": null
  }
}
