.admin-page-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.admin-page-div {
		top: 110px;
	}
}

.admin-page-navbar {
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding-left: 6px;
	padding-right: 6px;
	margin: 8px;
}

.admin-page-container {
	box-shadow: 0 0 2px darkslategray;
	padding: 1rem;
	margin: 8px;
	background-image: url(https://isle.heinz.cmu.edu/white_carbonfiber_1543854970404.png);
	height: calc(100vh - 150px);
	overflow-x: hidden;
	overflow-y: hidden;
}

.admin-page-log-side-button {
	position: absolute;
	top: 60px;
	right: 5vw;
}

.admin-page-version {
	top: 8px;
	right: 14px;
	position: absolute;
	font-variant-caps: small-caps;
}

@media screen and (max-width: 800px) {
	.admin-page-version {
		display: none;
	}
}

.table-pic {
	width: 40px;
	height: 40px;
}

.data-icon[aria-describedby='popover-data'] {
	color: rgb(125, 170, 185);
}

.admin-overview-container {
	animation: slide-in-right 0.7s;
	max-width: 100%;
	height: calc(100vh - 180px);
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding: 16px;
}

.first-row {
	height: 70%;
	width: 100%;
}

.second-row {
	height: 30%;
	width: 100%;
}

.column-border {
	border-right: 1px solid darkslategray;
}
