.admin-page-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.admin-page-div {
		top: 110px;
	}
}

.admin-page-navbar {
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding-left: 6px;
	padding-right: 6px;
	margin: 8px;
}

.admin-page-container {
	box-shadow: 0 0 2px darkslategray;
	padding: 1rem;
	margin: 8px;
	background-image: url(./../../../public/img/white_carbonfiber.png);
	height: calc(100vh - 150px);
	overflow-x: hidden;
	overflow-y: hidden;
}

.admin-page-log-side-button {
	position: absolute;
	top: 60px;
	right: 5vw;
}

.table-pic {
	width: 40px;
	height: 40px;
}

.data-icon[aria-describedby='popover-data'] {
	color: rgb(125, 170, 185);
}

.admin-outer-container {
	max-width: 100%;
	height: calc(100vh - 180px);
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding: 16px;
}

.slide-in-right {
	animation: slide-in-right 0.7s;
}

.first-row {
	width: 100%;
	height: 65%;
	overflow-y: auto;
	padding-bottom: 3px;
	border-bottom: 1px solid darkslategray;
}

.second-row {
	margin-top: 3px;
	width: 100%;
	height: 35%;
	overflow-y: auto;
}

.column-border {
	border-right: 1px solid darkslategray;
}

.overview-table td,
.overview-table th {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}


.action-types-table-container {
	overflow-y: scroll;
	font-size: 0.75em;
	height: 40vh;
}

.action-types-table-container thead tr th {
	position: sticky;
	top: 0;
}

.action-types-table th,
.overview-table th {
	border-left: 1px dotted rgba(200, 209, 224, 0.6);
	border-bottom: 1px solid #e8e8e8;
	background: #e7c6aa;
	text-align: left;
	box-shadow: 0px 0px 0 2px #e8e8e8;
}

.overview-server-name {
	font-size: 1rem;
	float: right;
	margin-top: 0.8rem;
}

.tickets-description-overlay {
	max-width: 900px;
	white-space: pre-wrap;
	background-color: seashell;
}

.tickets-description {
	cursor: pointer;
}

.license-upload-button {
	float: right;
}

.user-edit-modal {
	max-width: 1200px;
}
