.received-badge {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.received-badge-before {
	position: absolute;
	left: 11%;
	top: 13%;
	width: 78%;
	height: 70%;
	border-radius: 50%;
	filter: saturate(20%);
	background: rgba(255, 0, 0, 0.1);
}
