:root {
	--ratio-percent: 75%;
	--primary: #2e4468;
}

/* THE WHOLE PROFILE PAGE */

.profile-page-grid-container {
	position: absolute;
	display: grid;
	width: 100vw;
	height: calc(100vh - 52px);
	top: 52px;
	background: gainsboro;
	grid-template-columns: 325px auto 25% 20px;
	grid-template-rows: 0.5vh 59vh 5vh auto 0;
	overflow-x: hidden;
	grid-template-areas:
		"left header header right"
		"left statistics statistics right"
		"left middle middle right"
		"left badges badges right"
		"left badges badges right";
}

@media screen and (width <= 800px) {
	.profile-page-grid-container {
		top: 94px;
		height: calc(100% - 94px);
	}
}

.profile-page-left {
	grid-area: left;
	border-right: solid 1px silver;
	background-image: url("./../../../public/img/white_carbonfiber.png");
}

.profile-page-badge-title {
	grid-area: middle;
	margin-left: 10px;
	border-top: solid 1px darkgray;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	margin-bottom: 8px;
	color: #767676;
}

.profile-page-badge-container {
	grid-area: badges;
	width: calc(100% - 20px);
	height: 25vh;
	display: grid;
	margin-left: 20px;
	filter: sepia(77%);
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.5vw;
	grid-row-gap: 1em;
}

.profile-page-statistics {
	grid-area: statistics;
	display: grid;
	height: 100%;
	grid-template-columns: 40px 60px auto 34% 8% 50%;
	grid-template-rows: 52px 38px auto 10px;
	grid-template-areas:
		"marginLeft navicomment navicomment navi navi navi"
		"marginLeft dataselect dataselect topactions topr statselect"
		"marginLeft actions actions actions statistics statistics"
		"marginLeft bottom bottom bottom bottom bottom";
}

/* END OF THE WHOLE PROFILE PAGE */
.profile-page-statistics-data-select {
	grid-area: dataselect;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: #767676;
	border-top: solid 1px darkgray;
}

/* BEGINNING OF THE STATISTICS SECTION */
.profile-page-statistics-navigation {
	overflow-y: auto;
	grid-area: navi;
	padding-left: 15px;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: #767676;
	border-top: solid 1px darkgray;
}

.profile-page-statistics-navigation-title {
	grid-area: navicomment;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: #767676;
	border-top: solid 1px darkgray;
}


/* END OF THE WHOLE PROFILE PAGE */

/* BEGINNING OF THE INNER STAT SELECTION */
.profile-page-statistics-select {
	grid-area: statselect;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: #767676;
	padding-left: 10px;
	border-top: solid 1px darkgray;
}

/* for the inner section */
.profile-page-statistics-select .nav-item {
	font-size: 22px;
	font-weight: 700;
	color: var(--primary);
	padding-top: 0;
}

.profile-page-statistics-select .nav-link {
	color: var(--primaryhalf);
	padding-left: 5px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.profile-page-statistics-select .nav-link:hover {
	color: var(--primary);
}

.profile-page-statistics-select .nav-link:active {
	color: var(--primaryhalf);
}

.profile-page-statistics-navigation .nav-item {
	font-size: 22px;
	font-weight: 700;
	color: var(--primary);
}

.profile-page-statistics-navigation .nav-link {
	color: var(--primaryhalf);
}

.profile-page-statistics-navigation .nav-link:hover {
	color: var(--primary);
}

.profile-page-statistics-navigation .nav-link:active {
	color: var(--primaryhalf);
}

/************ end inner section *******/

.profile-page-statistics-top-actions {
	grid-area: topactions;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: darkgrey;
	border-top: solid 1px darkgray;
}

/* for the inner section */
.profile-page-statistics-top-actions .nav-item {
	font-size: 22px;
	font-weight: 700;
	color: var(--primary);
	padding-top: 0;
}

.profile-page-statistics-top-actions .nav-link {
	color: var(--primaryhalf);
	padding-left: 5px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.profile-page-statistics-top-actions .nav-link:hover {
	color: var(--primary);
}

.profile-page-statistics-top-actions .nav-link:active {
	color: var(--primaryhalf);
}

.profile-page-statistics-title2 {
	grid-area: topr;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	color: #767676;
	border-top: solid 1px darkgray;
	width: 100%;
	height: 100%;
}

.profile-page-statistics-actions {
	grid-area: actions;
	border-right: solid 1px darkgray;
	width: 100%;
	margin-top: 12px;
	min-height: 0;
	min-height: auto;
	max-height: auto;
	overflow-y: auto;
}

.sub-actions {
	left: 0;
	top: 0;
	background: blue;
	min-height: 0;
}

.profile-page-statistics-stats {
	grid-area: statistics;
	width: 100%;
	min-height: auto;
	max-height: auto;
	overflow-y: auto;
}

/* END OF THE STATISTICS SECTION */
/* BEGINNING OF THE STATS SECTION _ SUBSECTION OF STATISTICS */
.profile-page-stats-key {
	grid-area: key;
	width: 100%;
}

.profile-page-stats-value {
	grid-area: value;
	width: 100%;
}

/* BEGINNING OF THE STATS SECTION _ SUBSECTION OF STATISTICS */


/* BEGINNING OF THE BADGE SECTION */

.profile-page-badge-item-nova {
	width: 100%;
	height: auto;
	position: relative; /* If you want text inside of it */
	display: inline-block;
}

.profile-page-badge-item {
	position: absolute;
	width: 100%;
	height: auto;
	transition: all 0.3s;
	border-radius: 50%;
	box-shadow: 0 0 darkgray;
	background-image: url("./img/badge_circle_background.svg");
	background-size: 100% auto;
}

.badge-svg {
	stroke: "blue";
}

.profile-page-badge-item:hover {
	transform: scale(1.12);
}

.mask {
	opacity: 0;
}

.profile-page-badge-item img {
	width: 100%;
	height: 100%;
	fill: silver;
}

.profile-page-badge-item-interior {
	position: absolute;
	left: 11%;
	top: 10%;
	width: 78%;
	height: 78%;
	border-radius: 50%;
	filter: saturate(20%);
	background: rgba(255, 0, 0, 0.1);
}

.profile-page-badge-item-interior img {
	width: 100%;
	height: 100%;
}

.badge-not-acquired {
	opacity: 0.2;
}

.badge-acquired {
	background: rgba(255, 0, 0, 0.5);
	border-radius: 50%;
	opacity: 1;
}

.profile-badge {
	width: 100%;
	height: 100%;
}

.profile-page-badge-image {
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	width: 80%;
	height: 80%;
	opacity: 1;
}

.profile-page-badge-image img {
	width: 100%;
	height: auto;
}

.unknown {
	opacity: 0.4;
}

/* END OF BADGE */

/* THE STATISTICS SECTION */
.profile-page-stats-section img {
	margin-left: 15%;
	width: 60%;
	height: auto;
	transition: all 0.5s;
	transform-origin: center bottom;
}

.profile-page-stats-section img:hover {
	transform: scale(1.12);
}

/* END OF THE STATISTICS SECTION */


/* THE USER SECTION */

.profile-page-user-container {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	box-shadow: 2px 0 0px darkgray;
	grid-template-columns: 10px auto 20px;
	grid-template-rows: 20px 230px 15px auto 1% 10px;
	grid-template-areas:
		"mleft header mright"
		"mleft portrait mright"
		"mleft middle mright"
		"mleft personal mright"
		"mleft center mright"
		"mleft footer mright";
}

.profile-page-user-portrait {
	grid-area: portrait;
	cursor: pointer;
}

.profile-page-user-portrait img {
	margin-top: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
	opacity: 1;
	transition: all 0.7s;
	box-shadow: 0 0 1px darkslategray;
	animation: scale-up 0.7s;
}

.profile-page-user-portrait img:hover {
	opacity: 1;
	box-shadow: 0 0 4px black;
	filter: saturate(0%);
}

.profile-page-user-portrait:hover::after {
	position: absolute;
	font-family: "Open Sans Condensed";
	pointer-events: none;
	font-size: 24px;
	text-shadow: 2px 2px 0 black;
	left: 7%;
	top: 4%;
	color: white;
	width: 70%;
	content: "click to edit the profile pic";
	z-index: 2;
}

.profile-page-user-personal {
	position: relative;
	grid-area: personal;
	width: 300px;
	background-image: url("./../../../public/img/white_carbonfiber.png");
}

.profile-page-user-personal-name {
	grid-area: personal;
}

.profile-page-user-legend {
	float: left;
	width: 62%;
	font-family: "Open Sans Condensed";
	font-size: calc(16px + 0.4vw);
	font-weight: 600;
	color: #767676;
	text-transform: lowercase;
	font-variant: small-caps;
}

.profile-page-user-value {
	float: left;
	width: 38%;
	font-family: "Open Sans Condensed";
	font-size: calc(16px + 0.4vw);
	font-weight: 600;
	color: #767676;
}

.profile-page-user-score {
	float: left;
	border: solid 1px darkgray;
	font-family: "Open Sans Condensed";
	color: silver;
	font-weight: 800;
	font-size: 32px;
	text-align: center;
	width: 40%;
	background: white;
	box-shadow: inset 0px 0px 5px #c1c1c1, inset 3px 3px 5px darkgray, inset 0 0 2px darkgray;
	margin-bottom: 8px;
	border-radius: 8px;
	transition: all 1.7;
}

.profile-page-user-score:hover {
	background: gainsboro;
	color: darkgray;
}

.profile-page-user-footer {
	grid-area: footer;
}

/* END OF USER SECTION */

.profile-pic-modal {
	height: 465px;
	background: white;
	max-width: none !important;
	width: 400px;
	margin-top: 10px;
}

.profile-pic-modal img {
	width: 100%;
	height: auto;
}

.avatarEditor {
	border: solid 1px silver;
}

.ticket-badge {
	margin-left: 6px;
}

/******************************************************************************************
/////////////////////////////////// ANIMATIONS ////////////////////////////////////////////
*/

@keyframes scale-up {
	0% {
		transform: scale(0.01);
	}

	100% {
		transform: scale(1);
	}
}

.edit-modal {
	max-width: 900px;
	min-width: 500px;
	width: 60%;
}
