
/* THE WHOLE PROFILE PAGE */

.profile-page-grid-container {
    position: absolute;
	display: grid;
	width: 100%;
    height: calc(100% - 52px);
    top: 52px;
	background: gainsboro;
	grid-template-columns: 25% auto 25% 20px;
	grid-template-rows: 20px auto 16px 34% 30px;

	grid-template-areas:
		"left header header right"
        "left statistics statistics right"
        "left middle middle right"
        "left badges badges badges"
		"left badges badges badges"
}


.profile-page-left {
	grid-area: left;
    border-right:solid 1px silver;
}

.profile-page-badges {
	grid-area: badges;
}

.profile-page-statistics {
	grid-area: statistics;
}


/* END OF THE WHOLE PROFILE PAGE */


/* BEGINNING OF THE BADGE SECTION */

.profile-page-badge-item {
    float: left;
    margin-left: 18px;
    margin-bottom: 20px;
    width: calc(56px + 2vw);
    height:calc(56px + 2vw);
    border-radius: 50%;
    background: silver;
    background-size: 100% auto;
    transition: all 0.3s;
}

.profile-page-badge-item:hover {
    transform: scale(1.25);
}


.profile-page-badge-item img {
    width: 100%;
    height: 100%;
}

.profile-page-badge-image {
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0.3 ;
}

.profile-page-badge-image img {
    width: 100%;
    height: auto;
}

/* END OF BADGE */

/* THE STATISTICS SECTION */
.profile-page-stats-section img {
    margin-left: 15%;
    width: 60%;
    height: auto;
    transition: all .5s;
    transform-origin: center bottom;
}

.profile-page-stats-section img:hover {
    transform: scale(1.12);
}

/* END OF THE STATISTICS SECTION */


/* THE USER SECTION */

.profile-page-user-container {
    position: relative;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 20px auto 20px;
    grid-template-rows: 20px 40% 15px 50% 1% 40px;

	grid-template-areas:
		"mleft header mright"
        "mleft portrait mright"
        "mleft middle mright"
        "mleft personal mright"
        "mleft center mright"
		"mleft footer mright"
}


.profile-page-user-portrait {
    grid-area: portrait;
}

.profile-page-user-portrait img {
    cursor: pointer;
    width: auto;
    height: 100%;
    opacity: 1;
    transition: all .7s;
    box-shadow: 0 0 1px darkslategray;
}

.profile-page-user-portrait img:hover {
    opacity: 1;
    box-shadow: 0 0 4px black;
    filter: saturate(0%);
}

.profile-page-user-portrait:hover:after {
    position: absolute;
    font-family: Open Sans Condensed;
    font-size: 24px;
    left: 7%;
    top: 4%;
    color: white;
    width: 70%;
    content: "click to edit the profile pic";
    z-index: 2;
}


.profile-page-user-personal {
    grid-area: personal;
    width: 90%;
}

.profile-page-user-personal-name {
    grid-area: personal;
}



.profile-page-user-legend {
    float: left;
    width: 62%;
    font-family: Open Sans Condensed;
    font-size: calc(16px + 0.4vw);
    font-weight: 600;
    color: darkgrey;
    text-transform: lowercase;
    font-variant: small-caps;
}

.profile-page-user-value {
    float: left;
    width: 38%;
    font-family: Open Sans Condensed;
    font-size: 24px;
    font-weight: 600;
    color: darkgrey;
}


.profile-page-user-score {
    float: left;
    border:solid 1px darkgray;
    font-family: Open Sans Condensed;
    color: silver;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    width: 40%;
    background: white;
    box-shadow: inset 0px 0px 5px #c1c1c1, inset 3px 3px 5px darkgray, inset 0 0 2px darkgray ;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: all 1.7;
}

.profile-page-user-score:hover {
    background: gainsboro;
    color: darkgray;
}


.profile-page-user-footer {
	grid-area: footer;
}


/* END OF USER SECTION */


.profile-pic-modal {
    width: 465px;
    height: 465px;
    background: white;
    border:solid 1px darkgray;
}


.profile-pic-modal img {
    width: 100%;
    height: auto;
}