.edit-namespace-container {
	position: relative;
	top: 80px;
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
}

@media screen and (max-width: 800px) {
	.edit-namespace-container {
		top: 112px;
	}
}
