.enroll-page {
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	height: calc(100% - 52px);
	background: white;
}

@media screen and (width <= 800px) {
	.enroll-page {
		top: 94px;
		height: calc(100% - 94px);
	}
}

.enroll-page-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("./../../../public/img/pexels_background.jpeg");
	background-size: 100% 100%;
	animation: fade-in 8s forwards;
}

.enroll-page-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.enroll-page-course-item {
	padding-left: 15px;
	padding-top: 8px;
	border-radius: 12px;
	box-shadow: 0 0 10px darkgray, 0 0 4px darkslategray;
	background: rgba(255, 255, 255, 0.65);
	transition: all 0.5s;
	width: 100%;
	height: 100%;
	filter: saturate(40%);
}

.enroll-item-deactivated {
	padding-left: 20px;
	padding-top: 8px;
	border-radius: 12px;
	box-shadow: 0 0 10px darkgray, 0 0 4px darkslategray;
	background: #f9e793;
	transition: all 0.5s;
	width: 100%;
	height: 100%;
	filter: saturate(100%);
}

.enroll-page-course-item:hover {
	background: white;
	filter: saturate(100%);
	box-shadow: 0 0 12px darkgray, 1px 1px 8px darkslategray;
}

.enroll-page h1 {
	font-size: 26px;
}

.enroll-page-cohort-information {
	background: gainsboro;
	padding: 15px;
	margin-bottom: 10px;
}

.enroll-page-cohorts-list {
	padding: 25px;
	box-shadow: inset 0 0 10px darkgray;
	margin-bottom: 15px;
}

.enroll-page-course-owner-wrapper {
	overflow-x: auto;
	overflow-y: auto;
	height: 60%;
	border: solid 1px darkgray;
	margin-right: 12px;
}

.enroll-page-course-owners {
	margin-top: 10px;
	width: max-content;
	font-size: 16px;
	font-weight: 800;
	font-family: "Open Sans Condensed";
}

.enroll-page-course-teacher {
	white-space: nowrap;
}

.enroll-page-course-teacher img {
	width: 32px;
	height: 32px;
	border: solid 1px darkgray;
	float: left;
	margin-right: 5px;
}

.enroll-page-courses-teacher-name {
	color: #2e4468;

	/* color: #007bff; */
	font-weight: 600;
}

.enroll-page-course-teacher-email {
	font-size: 14px;
	font-weight: 400;
	color: gray;
	cursor: pointer;
}

.enroll-page-course-teacher-email:hover {
	color: #007bff;
	text-decoration: underline;
}

.enroll-button {
	position: absolute;
	bottom: 10px;
	width: auto;
	right: 10px;
}

.enroll-button-modal {
	margin-top: 20px;
}

.enroll-cohort-date {
	font-size: 12px;
	margin-left: 10px;
}
