.enroll-page {
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	height: calc(100% - 52px);
	background-image: url(https://isle.heinz.cmu.edu/hall_1546955436875.jpg);
	background-size: 100% 100%;
}


.enroll-page-content {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
}


.enroll-page-course-item {
	box-shadow: 0 0 4px darkslategray, 6px 6px 12px darkgray;
	background: rgba(255, 255, 255, 0.85);
	transition: all 0.5s;
	width: 100%;
	height: 100%;
	padding: 8px;
}


.enroll-page-course-item:hover {
	background: white;
}


.enroll-page-course-item h1 {
	font-size: 28px;
}


.enroll-page-course-description {

}


.enroll-page-cohort-information {
	background: gainsboro;
	padding: 15px;
	margin-bottom: 10px;
}

.enroll-page-cohorts-list {
	padding: 25px;
	box-shadow: inset 0 0 10px darkgray;
	margin-bottom: 15px;
}


.enroll-page-course-owners {
	width: 100%;
	height: 60%;
	background: gainsboro;
}

.enroll-page-course-teacher {
	width: 20%;
	background: red;
}
