.enroll-page {
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	height: calc(100% - 52px);
	background: white;
}

.enroll-page-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://isle.heinz.cmu.edu/pexels-photo-574283_1546971725423.jpeg);
	background-size: 100% 100%;
	animation: fade-in 8s forwards;
}

.enroll-page-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.enroll-page-course-item {
	padding-left: 20px;
	padding-top: 8px;
	border-radius: 12px;
	box-shadow: 0 0 10px darkgray, 0 0 4px darkslategray;
	background: rgba(255, 255, 255, 0.65);
	transition: all 0.5s;
	width: 100%;
	height: 100%;
	filter: saturate(20%);
}

.enroll-item-deactivated {
	padding-left: 20px;
	padding-top: 8px;
	border-radius: 12px;
	box-shadow: 0 0 10px darkgray, 0 0 4px darkslategray;
	background: LightGoldenRodYellow;
	transition: all 0.5s;
	width: 100%;
	height: 100%;
	filter: saturate(100%);
}

.enroll-page-course-item:hover {
	background: white;
	filter: saturate(100%);
	box-shadow: 0 0 12px darkgray, 1px 1px 8px darkslategray;
}

.enroll-page h1 {
	font-size: 28px;
}

.enroll-page-cohort-information {
	background: gainsboro;
	padding: 15px;
	margin-bottom: 10px;
}

.enroll-page-cohorts-list {
	padding: 25px;
	box-shadow: inset 0 0 10px darkgray;
	margin-bottom: 15px;
}

.enroll-page-course-owners {
	margin-top: 20px;
	width: 100%;
	height: 60%;
	font-size: 16px;
	font-weight: 800;
}

.enroll-page-course-teacher {
	width: 100%;
	height: 33%;
}

.enroll-page-course-teacher img {
	float: left;
	width: auto;
	height: 80%;
	border:solid 1px darkgray;
}

.enroll-page-course-teacher-info {
	padding-left: 10px;
	float: left;
}

.enroll-page-courses-teacher-name {
	color: #2e4468;

	/* color: #007bff; */
	font-weight: 600;
}

.enroll-page-course-teacher-email {
	font-size: 14px;
	font-weight: 400;
	color: gray;
	cursor: pointer;
}

.enroll-page-course-teacher-email:hover {
	color: #007bff;
	text-decoration: underline;
}

.enroll-button {
	position: absolute;
	bottom: 10px;
	width: auto;
	right: 10px;
}

.enroll-button-modal {
	margin-top: 20px;
}

.enroll-cohort-date {
	font-size: 12px;
	margin-left: 10px;
}
