.gallery {
	background: gainsboro;
	position: absolute;
	width: 100%;
	top: 52px;
	min-height: calc(100% - 52px);
}

.galleryToolbar {
	position: absolute;
	left: 0;
	top: 200px;
	height: 36px;
	width: 100%;
	background: white;
	filter: saturate(20%);
	transition: all .7;
}

.galleryToolbar:hover {
	filter: saturate(100%);
}