.gallery {
	position: absolute;
	width: 100%;
	top: 120px;
	height: calc(100vh - 144px);
	overflow-y: scroll;
	background: url("./../../../public/img/white_carbonfiber.png");
}

.gallery-pagination {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background: #2a3e54;
	padding: 5px;
	position: absolute;
	top: 52px;
}

@media screen and (max-width: 800px) {
	.gallery {
		top: 172px;
		height: calc(100% - 196px);
	}

	.gallery-pagination {
		top: 104px;
	}
}

.gallery-toolbar {
	position: absolute;
	top: 200px;
	height: 36px;
	width: calc(100% - 2.5em);
	left: 1.25em;
	background: white;
	filter: saturate(20%);
	transition: all 0.7;
}

.gallery-toolbar:hover {
	filter: saturate(100%);
}

.gallery-card {
	height: 250px;
	box-shadow: 0 0 2px darkgrey;
}

.gallery-jumbotron {
	position: relative;
	top: 70px;
	text-align: left;
	padding-left: 20px;
}

.gallery-upload {
	position: absolute;
	right: 0px;
	margin-top: 3px;
}

.gallery-uploaded {
	margin-left: 5px;
	margin-top: 8px;
	color: #0070f4;
	font-family: "Open Sans Condensed";
	font-size: 14px;
	font-weight: 600;
}

.gallery-uploaded-image {
	margin-top: -4px;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	fill: white;
	margin-right: 3px;
}
