.gallery {
	background: gainsboro;
	position: absolute;
	width: 100%;
	top: 52px;
	min-height: calc(100% - 52px);
}

.gallery-toolbar {
	position: absolute;
	left: 0;
	top: 200px;
	height: 36px;
	width: 100%;
	background: white;
	filter: saturate(20%);
	transition: all .7;
	box-shadow: 0 2px 2px -2px gray;
}

.gallery-toolbar:hover {
	filter: saturate(100%);
}

.gallery-card {
	box-shadow: 0 0 2px darkgrey;
}

.gallery-jumbotron {
	position: relative;
	top: 70px;
	text-align: left;
	padding-left: 20px;
}
