.cohort-page {
	width: 100%;
	height: calc(100% - 3em);
	margin-top: 25px;
}


.cohort-member {
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 10px;
	width: 160px;
	height: 120px;
	border-radius: 6px;
	background: white;
	border: solid 1px darkgray;
	box-shadow: 0 0 2px darkslategray;
	font-family: "Open Sans Condensed";
	font-size: 12px;
	font-weight: 800;
	text-align: center;
	color: darkslategray;
	line-height: 12px;
	float: left;
	cursor: pointer;
	transition: all 0.4s;
}

.cohort-member:hover {
	transform: scale(1.02);
}

.cohort-member img {
	margin-top: 8px;
	width: 60px;
	height: auto;
	margin-bottom: 4px;
	border: solid 1px darkgray;
}

.cohort-member-name {
	margin-top: 4px;
	font-size: 18px;
	margin-bottom: 4px;
	color: darkslategray;
}

.cohort-member-name:hover {
	color: darkslategray;
}

.cohort-member-email {
	color: darkslategray;
}

.cohort-member-email a {
	text-decoration: none;
	color: darkslategray;
}

.cohort-member-email a:hover {
	text-decoration: underline;
}

.cohort-member-score::after {
	content: " | ";
}

.cohort-member-progress {
	margin-top: 4px;
	width: 100%;
}

.cohort-actual-member {
	position: fixed;
	width: 33vw;
	min-width: 400px;
	height: calc(100% - 52px);
	right: 0;
	top: 52px;
	background: white;
	box-shadow: 0 0 6px darkgray;
	z-index: 2;
	font-family: "Open Sans Condensed";
	font-size: 16px;
	font-weight: 600;
	display: grid;
	animation: scale-up 0.4s;
	overflow-y: hidden;
	grid-template-columns: 8px 190px 8px auto 12px;
	grid-template-rows: 10px 200px 80px auto;
	grid-template-areas:
		"meleft header header header exit"
		"left portrait middle userBadges right"
		"mleft name name totalTime right"
		"mleft userInfo userInfo userInfo userInfo";
}

.cohort-actual-member-portrait {
	grid-area: portrait;
	margin-top: 5px;
	margin-left: 5px;
	width: 180px;
	height: 180px;
}

.cohort-actual-member-portrait-shadow {
	grid-area: portrait;
	margin-top: 5px;
	margin-left: 5px;
	width: 180px;
	height: 180px;
	box-shadow: inset 0 0 5px black;
}

.cohort-actual-member-exit {
	position: absolute;
	right: 10px;
	top: 3px;
	font-size: 20px;
	font-weight: 800;
	cursor: pointer;
	text-align: right;
	font-family: "Open Sans";
}

.cohort-actual-member-exit:hover {
	color: red;
}

.cohort-actual-member-registered {
	grid-area: registered;
	width: 100%;
	background: blue;
}

.cohort-actual-member-name {
	margin-top: 10px;
	grid-area: name;
	width: 100%;
	height: auto;
}

.cohort-actual-member-info {
	grid-area: userInfo;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 30px auto;
	grid-template-areas:
		"lessonsHeader lessonsTime"
		"lessonsBody lessonsBody";
}

.cohort-actual-member-lesson-header {
	grid-area: lessonsHeader;
}

.cohort-actual-member-lesson-total {
	grid-area: lessonsTime;
	text-align: right;
	padding-right: 30px;
}


.lessons-area {
	grid-area: lessonsBody;
	overflow-y: auto;
	width: 100%;
	height: calc(100vh - 400px);
}

/*************************** GENERAL USER INFO SECTION ***************************/

.cohort-actual-member-badges {
	grid-area: userBadges;
	height: 94%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 90px 70px auto;
	grid-template-areas:
		"userInfoTime middle userInfoScore"
		"userInfoHeader userInfoHeader userInfoHeader"
		"userInfoBadges userInfoBadges userInfoBadges";
}

.cohort-actual-member-badges .user-info-header {
	grid-area: userInfoHeader;
	margin-bottom: 15px;
}

.cohort-actual-member-badges .user-info-score {
	grid-area: userInfoScore;
	color: gray;
	text-align: right;
}


.cohort-actual-member-badges .user-info-time {
	grid-area: userInfoTime;
	color: gray;
	margin-right: 30px;
	text-align: right;
}

.cohort-actual-member-badges .user-info-separator {
	border-bottom: solid 1px darkgray;
}

.cohort-actual-member-badges .user-info-badges {
	margin-top: 8px;
	grid-area: userInfoBadges;
	height: 100%;
}

.cohort-user-badge {
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 0.5vh;
	margin-right: 0.2vw;
	margin-left: 0.2vw;
	background: gainsboro;
	border-radius: 16px;
}

.cohort-user-badge img {
	margin-left: 2px;
	margin-top: 2px;
	width: 28px;
	height: auto;
	opacity: 0.3;
}

.cohort-user-badge img:hover {
	opacity: 0.6;
}

/**************************** END GENERAL USER INFO SECTION **********************/

.cohort-actual-member-total-time {
	grid-area: totalTime;
	height: 100%;
	padding-top: 40px;
	text-align: right;
	vertical-align: text-bottom;
	font-size: 20px;
	font-family: "Open Sans Condensed";
}

.cohort-actual-member-lesson-title {
	margin-top: 4px;
	border-top: solid 1px silver;
	width: 100%;
	float: left;
	padding-left: 2%;
	text-transform: capitalize;
	font-size: 16px;
}

.cohort-actual-member-lesson-time {
	float: left;
	width: 15%;
	height: 20px;
	padding-left: 2px;
	padding-right: 12px;
	color: darkslategray;
	text-align: right;
}

.cohort-actual-member-lesson-progress {
	margin-top: 6px;
	margin-left: 2%;
	width: 80%;
}
