.cohort-page {
    position: absolute;
    left: 0;
    top: 101%;
    width: 100%;
    height: 600px;
    background: white;
}

.cohort-member {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 144px;
    background: white;
    border:solid 1px darkgray;
    box-shadow: 0 0 2px darkslategray;
    font-family: Open Sans Condensed;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    color: darkgray;
    line-height: 12px;
    float: left;
    cursor: pointer;
}

.cohort-member img {
    margin-top: 8px;
    width: 80%;
    height: auto;
}


.cohort-member-score {
}

.cohort-member-name {
    height: 25px;
}

.cohort-member-score::after {
    content: " | ";
}

.cohort-member-progress
 {
    margin-top: 4px;
    width: 100%;
 }
