.namespace-data-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

.namespace-data-navbar {
	box-shadow: 2px 2px 2px 2px darkgrey;
	padding-left: 6px;
	padding-right: 6px;
	margin: 8px;
}

.namespace-data-page {
	height: 100%;
}

.namespace-data-page-container {
	box-shadow: 2px 2px 2px 2px darkgrey;
	padding: 1.25rem;
	margin: 8px;
}
