.namespace-data-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

.namespace-data-navbar {
	margin-left: 10px;
	width: 180px;
	height: 100%;
	float: left;
	box-shadow: 4px 4px 10px darkgrey;
}

.namespace-data-page {
	float: left;
	margin-left: 30px;
	width: calc(100% - 250px);
	height: 400px;
	margin-right: 30px;
}
