.namespace-data-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

.namespace-data-navbar {
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding-left: 6px;
	padding-right: 6px;
	margin: 8px;
}

.namespace-data-page {
	height: 100%;
}

.namespace-data-page-container {
	box-shadow: 0 0 2px darkslategray;
	padding: 1.25rem;
	margin: 8px;
	background-image: url(https://isle.heinz.cmu.edu/white_carbonfiber_1543854970404.png);
	height: calc(100vh - 125px);
	overflow-x: hidden;
}

.namespace-data-page .rt-td {
	font-weight: 800;
}
