.table-pic {
	width: 40px;
	height: 40px;
}

.progress-table {
	font-family: "Open Sans Condensed";
	animation: slide-in-left 0.7s;
}

.progress-button-group {
	margin-right: 16px;
	float: right;
}

.sort-button-group {
	float: left;
	margin-right: 8px;
}

@media screen and (max-width: 800px) {
	.sort-button-group {
		width: 100px;
	}
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
