.ReactTable {
	max-height: 500px;
	background: white;
	border: 1px solid  rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92,92,92, 0.5);
	margin-bottom: 15px;
	font-family: Open Sans Condensed;
	font-weight: 800;
	animation: slide-in-right .7s;
}



.rt-th {
	color: darkgrey;
}

.rt-table {
	overflow: hidden !important;
}

.rt-tbody {
	min-width: 0px !important;
}

.rt-thead {
	min-width: 0px !important;
	overflow: hidden !important;
}

.rt-tr {
	min-width: 0px !important;
}


.rt-td {
	font-weight: 400;
}



/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
