.tickets-description-overlay {
	max-width: 900px;
	white-space: pre-wrap;
	background-color: seashell;
}

.tickets-description {
	cursor: pointer;
}

.ticket-modal-pic {
	margin-right: 6px;
	width: 60px;
	height: 60px;
}
