.login::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background-image: url('../img/island.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	animation: login-panel 7s forwards;
	-webkit-animation: login-panel 7s forwards;
}

/**
* ----------------------------------------
* animation login-panel
* ----------------------------------------
*/
@keyframes login-panel {
	0% {
		filter: grayscale(40%);
		opacity: 0.7;
	}

	100% {
		filter: grayscale(0%);
		opacity: 1;
	}
}

.login {
	position: absolute;
	margin: auto;
	top: -100px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 550px;
	height: 400px;
	background: white;
	opacity: 0.92;
}

.login-panel {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	opacity: 0.98;
	background: rgba(255, 255, 255, 0.75);
}

.login-isle-logo {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 36px;
	height: 36px;
}

.login-branding-logo {
	width: 180px;
	height: auto;
	z-index: 10;
	opacity: 1;
	margin-top: 40px;
	margin-left: 185px;
}
