@-webkit-keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.metric-list-item {
	animation: appear 1.2s;
}

.assessments-warning {
	font-weight: 400;
	font-style: italic;
	color: darkred;
}

.assessments-info {
	font-weight: 400;
	font-style: italic;
	color: darkblue;
}

.info-icon {
	display: none;
	color: #005fd3;
}

.row:hover > .form-label > .info-icon {
	display: inline;
}

.render-whitespace {
	white-space: pre-wrap;
}

.long-tooltip .tooltip-inner {
	text-align: left;
}
