.info-box::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background-image: url("../../img/island.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.info-box {
	position: absolute;
	margin: auto;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 60%;
	background: white;
	opacity: 0.92;
}

.info-box .card-body {
	height: 80vh;
	overflow-y: scroll;
}

.info-box .card-header img {
	width: 45px;
	height: auto;
	float: left;
}
