.create-namespace-container {
	position: absolute;
	top: 80px;
	width: 100%;
}

.create-namespace-card {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

@media screen and (width <= 800px) {
	.create-namespace-container {
		top: 112px;
	}
}
