.admin-settings-div {
	position: relative;
	top: 60px;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.admin-settings-div {
		top: 110px;
	}
}

.admin-settings-container {
	box-shadow: 0 0 2px darkslategray;
	padding: 1rem;
	margin: 8px;
	background-image: url(./../../../public/img/white_carbonfiber.png);
	height: calc(100vh - 200px);
	overflow-x: hidden;
	overflow-y: hidden;
}

.admin-settings-navbar {
	box-shadow: 0 0 4px darkgrey, 0 0 2px darkslategrey;
	padding-left: 6px;
	padding-right: 6px;
	margin: 8px;
	background-color: rgb(245, 245, 255);
}

.admin-settings-outer-container {
	max-width: 100%;
	height: calc(100vh - 235px);
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 4px darkgray, 0 0 2px darkslategray;
	padding: 16px;
}
